#define THUMB_HOLDING_TIME 150
ZMK_HOLD_TAP(thumb, 
    bindings = <&mo>, <&kp>; flavor = "balanced"; 
    tapping-term-ms = <THUMB_HOLDING_TIME>; quick-tap-ms = <300>;
)
#define SPACE_HOLDING_TIME 250
ZMK_HOLD_TAP(spc,
    bindings = <&mo>, <&kp>; flavor = "balanced"; 
    tapping-term-ms = <SPACE_HOLDING_TIME>; quick-tap-ms = <200>;
)
#define TD_HOLDING_TIME 300
ZMK_TAP_DANCE(sft_capsw, 
    bindings = <&sk_oneshot LSFT>, <&caps_word>; 
    tapping-term-ms = <TD_HOLDING_TIME>;
)
ZMK_MOD_MORPH(parang_left,
    bindings = <&kp LPAR>, <&kp LT>; 
    mods = <(MOD_LSFT|MOD_RSFT)>;
) 
ZMK_MOD_MORPH(parang_right,
    bindings = <&kp RPAR>, <&kp GT>; 
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_MACRO_ONE_PARAM(sk_oneshot,
  wait-ms = <0>;
  tap-ms = <0>; 
  bindings                                      
  = <&macro_param_1to1>                         
  , <&macro_tap &sk_qr MACRO_PLACEHOLDER> 
  ;
)
#define STICKY_HOLDING_TIME (TAPPING_RESOLUTION + 25)
ZMK_HOLD_TAP(sk_modtap,
  bindings = <&kp>, <&sk_oneshot>; flavor = "tap-preferred"; 
  tapping-term-ms = <STICKY_HOLDING_TIME>;
)

#define STICKY_1SHOT_DECAY 500
ZMK_STICKY_KEY(sk_qr,
  bindings = <&kp>; 
  release-after-ms = <STICKY_1SHOT_DECAY>; quick-release; ignore-modifiers;
)

/ {
  behaviors {
    caps_word {
      continue-list = <
        UNDERSCORE MINUS
        BACKSPACE DELETE
        N1 N2 N3 N4 N5 N6 N7 N8 N9 N0
      >;
    };
  };
};