#define COMBO_FIRING_DECAY 50
#define SHIFT_FIRING_DECAY 50

#define ZMK_COMBO_ALL(name, combo_bindings, keypos) \
  ZMK_COMBO(name, combo_bindings, keypos, ALL_LAYERS, COMBO_FIRING_DECAY)
#define ZMK_COMBO_BASE(name, combo_bindings, keypos) \
  ZMK_COMBO(name, combo_bindings, keypos, LAYER_Base, COMBO_FIRING_DECAY)
#define ZMK_COMBO_TYPE(name, combo_bindings, keypos) \
  ZMK_COMBO(name, combo_bindings, keypos, LAYER_Base LAYER_Typing, SHIFT_FIRING_DECAY)

ZMK_COMBO_BASE(cmd_tab_l, &mod_tab_chord _A_TAB LAYER_Cursor, LT2 LT5)
ZMK_COMBO_BASE(ctl_tab_l, &mod_tab_chord LCTL   LAYER_Cursor, LT3 LT6)
ZMK_COMBO_BASE(alt_tab_l, &mod_tab_chord _G_TAB LAYER_Cursor, LT1 LT4)

ZMK_COMBO_TYPE(sticky_shift_l, &sk_modtap LSFT LSFT, LT4 LH4)
ZMK_COMBO_TYPE(sticky_shift_r, &sk_modtap RSFT RSFT, RT4 RH4)
ZMK_COMBO_TYPE(caps_word_l, &caps_word, LT4 LT5)
ZMK_COMBO_TYPE(caps_word_r, &caps_word, RT4 RT5)
ZMK_COMBO_TYPE(caps_lock_l, &kp CAPSLOCK, LT5 LT6)
ZMK_COMBO_TYPE(caps_lock_r, &kp CAPSLOCK, RT5 RT6)
ZMK_COMBO_TYPE(toggle_typing, &tog LAYER_Typing, RL0 RB1)

ZMK_COMBO_ALL(base_reset_l, &to LAYER_Base, LT1 LT2 LT3)
ZMK_COMBO_ALL(base_reset_r, &to LAYER_Base, RT1 RT2 RT3)
