#define                                              \
     LEFT_HAND_KEYS                                  \
      0  1  2  3  4                                  \
     10 11 12 13 14 15                               \
     22 23 24 25 26 27                               \
     34 35 36 37 38 39                               \
     46 47 48 49 50 51                               \
     64 65 66 67 68                                  \
                    69 52       57 74                \
                     70 53     56 73                 \
                      71 54   55 72
#define                                              \
                                     RIGHT_HAND_KEYS \
                                       5  6  7  8  9 \
                                   16 17 18 19 20 21 \
                                   28 29 30 31 32 33 \
                                   40 41 42 43 44 45 \
                                   58 59 60 61 62 63 \
                                      75 76 77 78 79 \
                    69 52       57 74                \
                     70 53     56 73                 \
                      71 54   55 72

#define LEFT_PINKY_KEY  KEY_LH_C5R4 // LH4
#define LEFT_RINGY_KEY  KEY_LH_C4R4 // LH3
#define LEFT_MIDDY_KEY  KEY_LH_C3R4 // LH2
#define LEFT_INDEX_KEY  KEY_LH_C2R4 // LH1

#define RIGHT_PINKY_KEY KEY_RH_C5R4 // RH4
#define RIGHT_RINGY_KEY KEY_RH_C4R4 // RH3
#define RIGHT_MIDDY_KEY KEY_RH_C3R4 // RH2
#define RIGHT_INDEX_KEY KEY_RH_C2R4 // RH1

#define PINKY_FINGER_MOD LSFT
#define RINGY_FINGER_MOD LALT
#define MIDDY_FINGER_MOD LGUI
#define INDEX_FINGER_MOD LCTL

#define LEFT_PINKY_MOD   PINKY_FINGER_MOD
#define LEFT_RINGY_MOD   RINGY_FINGER_MOD
#define LEFT_MIDDY_MOD   MIDDY_FINGER_MOD
#define LEFT_INDEX_MOD   INDEX_FINGER_MOD
#define RIGHT_PINKY_MOD  PINKY_FINGER_MOD
#define RIGHT_RINGY_MOD  RINGY_FINGER_MOD
#define RIGHT_MIDDY_MOD  MIDDY_FINGER_MOD
#define RIGHT_INDEX_MOD  INDEX_FINGER_MOD

// #define HOMEY_HOLDING_TIME (TAPPING_RESOLUTION + 90) // todo is this used?
#define INDEX_HOLDING_TIME (TAPPING_RESOLUTION + 40)
#define MIDDY_HOLDING_TIME (INDEX_HOLDING_TIME + 20)
#define RINGY_HOLDING_TIME (MIDDY_HOLDING_TIME + 20)
#define PINKY_HOLDING_TIME (TAPPING_RESOLUTION + 25)

#define CHORD_HOLDING_TIME TAPPING_RESOLUTION

#define HOMEY_STREAK_DECAY TAPPING_RESOLUTION
#define HOMEY_REPEAT_DECAY (TAPPING_RESOLUTION + 125)

#define HRM_LEFT(FINGER, HOLD, TAP, HOLD_MS) \
  HRM(Left##FINGER, HOLD, TAP, HOLD_MS, RIGHT_HAND_KEYS)

#define HRM_RIGHT(FINGER, HOLD, TAP, HOLD_MS) \
  HRM(Right##FINGER, HOLD, TAP, HOLD_MS, LEFT_HAND_KEYS)

#define HRM(NAME, HOLD, TAP, HOLD_MS, TRIGGER_KEYS)                                         \
  ZMK_HOLD_TAP(NAME ## _hmr, bindings = <&hold_ ## NAME>, <&kp>; flavor = "tap-preferred";  \
               tapping-term-ms = <HOLD_MS>; quick-tap-ms = <HOMEY_REPEAT_DECAY>;            \
               require-prior-idle-ms = <HOMEY_STREAK_DECAY>;                                \
               hold-trigger-on-release; hold-trigger-key-positions = <TRIGGER_KEYS>;)       \
                                                                                            \
  ZMK_HOLD_TAP(NAME ## _chord, bindings = <&kp>, <&tap_ ## NAME>; flavor = "tap-preferred"; \
               tapping-term-ms = <HOLD_MS>; quick-tap-ms = <HOMEY_REPEAT_DECAY>;            \
               require-prior-idle-ms = <HOMEY_STREAK_DECAY>;                                \
               hold-trigger-on-release; hold-trigger-key-positions = <TRIGGER_KEYS>;)       \
                                                                                            \
  ZMK_MACRO_ONE_PARAM(hold_ ## NAME, wait-ms = <0>; tap-ms = <0>;                           \
                bindings                                                                    \
                = <&macro_param_1to1>                                                       \
                , <&macro_press &kp MACRO_PLACEHOLDER>                                      \
                , <&macro_press &mo LAYER_ ## NAME>                                         \
                , <&macro_pause_for_release>                                                \
                , <&macro_param_1to1>                                                       \
                , <&macro_release &kp MACRO_PLACEHOLDER>                                    \
                , <&macro_release &mo LAYER_ ## NAME>;)                                     \
                                                                                            \
  ZMK_MACRO_ONE_PARAM(tap_ ## NAME, wait-ms = <0>; tap-ms = <0>;                            \
                bindings                                                                    \
                = <&macro_release                                                           \
                &kp LSFT &kp RSFT                                                           \
                &kp LALT &kp RALT                                                           \
                &kp LCTL &kp RCTL                                                           \
                &kp LGUI &kp RGUI>                                                          \
                , <&macro_tap &kp TAP>                                                      \
                , <&macro_param_1to1>                                                       \
                , <&macro_tap &kp MACRO_PLACEHOLDER>;)

HRM_LEFT(Pinky,  PINKY_FINGER_MOD, LEFT_PINKY_KEY,  PINKY_HOLDING_TIME)
HRM_LEFT(Ringy,  RINGY_FINGER_MOD, LEFT_RINGY_KEY,  RINGY_HOLDING_TIME)
HRM_LEFT(Middy,  MIDDY_FINGER_MOD, LEFT_MIDDY_KEY,  MIDDY_HOLDING_TIME)
HRM_LEFT(Index,  INDEX_FINGER_MOD, LEFT_INDEX_KEY,  INDEX_HOLDING_TIME)
HRM_RIGHT(Pinky, PINKY_FINGER_MOD, RIGHT_PINKY_KEY, PINKY_HOLDING_TIME)
HRM_RIGHT(Ringy, RINGY_FINGER_MOD, RIGHT_RINGY_KEY, RINGY_HOLDING_TIME)
HRM_RIGHT(Middy, MIDDY_FINGER_MOD, RIGHT_MIDDY_KEY, MIDDY_HOLDING_TIME)
HRM_RIGHT(Index, INDEX_FINGER_MOD, RIGHT_INDEX_KEY, INDEX_HOLDING_TIME)

#define LeftPinky(KEY) LeftPinky_hmr     PINKY_FINGER_MOD  KEY 
#define LeftPinkyRingy LeftPinky_chord   RINGY_FINGER_MOD  LEFT_RINGY_KEY
#define LeftPinkyMiddy LeftPinky_chord   MIDDY_FINGER_MOD  LEFT_MIDDY_KEY
#define LeftPinkyIndex LeftPinky_chord   INDEX_FINGER_MOD  LEFT_INDEX_KEY

#define LeftRingy(KEY) LeftRingy_hmr     RINGY_FINGER_MOD  KEY 
#define LeftRingyPinky LeftRingy_chord   PINKY_FINGER_MOD  LEFT_PINKY_KEY
#define LeftRingyMiddy LeftRingy_chord   MIDDY_FINGER_MOD  LEFT_MIDDY_KEY
#define LeftRingyIndex LeftRingy_chord   INDEX_FINGER_MOD  LEFT_INDEX_KEY

#define LeftMiddy(KEY) LeftMiddy_hmr     MIDDY_FINGER_MOD  KEY 
#define LeftMiddyPinky LeftMiddy_chord   PINKY_FINGER_MOD  LEFT_PINKY_KEY
#define LeftMiddyRingy LeftMiddy_chord   RINGY_FINGER_MOD  LEFT_RINGY_KEY
#define LeftMiddyIndex LeftMiddy_chord   INDEX_FINGER_MOD  LEFT_INDEX_KEY

#define LeftIndex(KEY) LeftIndex_hmr     INDEX_FINGER_MOD  KEY 
#define LeftIndexPinky LeftIndex_chord   PINKY_FINGER_MOD  LEFT_PINKY_KEY
#define LeftIndexRingy LeftIndex_chord   RINGY_FINGER_MOD  LEFT_RINGY_KEY
#define LeftIndexMiddy LeftIndex_chord   MIDDY_FINGER_MOD  LEFT_MIDDY_KEY

#define RightPinky(KEY) RightPinky_hmr   PINKY_FINGER_MOD  KEY 
#define RightPinkyRingy RightPinky_chord RINGY_FINGER_MOD  RIGHT_RINGY_KEY
#define RightPinkyMiddy RightPinky_chord MIDDY_FINGER_MOD  RIGHT_MIDDY_KEY
#define RightPinkyIndex RightPinky_chord INDEX_FINGER_MOD  RIGHT_INDEX_KEY

#define RightRingy(KEY) RightRingy_hmr   RINGY_FINGER_MOD  KEY 
#define RightRingyPinky RightRingy_chord PINKY_FINGER_MOD  RIGHT_PINKY_KEY
#define RightRingyMiddy RightRingy_chord MIDDY_FINGER_MOD  RIGHT_MIDDY_KEY
#define RightRingyIndex RightRingy_chord INDEX_FINGER_MOD  RIGHT_INDEX_KEY

#define RightMiddy(KEY) RightMiddy_hmr   MIDDY_FINGER_MOD  KEY 
#define RightMiddyPinky RightMiddy_chord PINKY_FINGER_MOD  RIGHT_PINKY_KEY
#define RightMiddyRingy RightMiddy_chord RINGY_FINGER_MOD  RIGHT_RINGY_KEY
#define RightMiddyIndex RightMiddy_chord INDEX_FINGER_MOD  RIGHT_INDEX_KEY

#define RightIndex(KEY) RightIndex_hmr   INDEX_FINGER_MOD  KEY 
#define RightIndexPinky RightIndex_chord PINKY_FINGER_MOD  RIGHT_PINKY_KEY
#define RightIndexRingy RightIndex_chord RINGY_FINGER_MOD  RIGHT_RINGY_KEY
#define RightIndexMiddy RightIndex_chord MIDDY_FINGER_MOD  RIGHT_MIDDY_KEY